services:
  proxy:
    image: nginx:alpine
    container_name: kailinx-gateway
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./certs:/etc/nginx/certs
    depends_on:
      - portfolio
    restart: always
    networks:
      - app-network

  portfolio:
    image: ${IMAGE_NAME}
    container_name: kailinx-com
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
